/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

/* Common CSS */

.filled-btn {
    background-color: rgb(43, 82, 255);
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
}

.filled-btn a {
    text-decoration: none;
}


header {
    background-color: aliceblue;
}

.width-limit {
    max-width: 60%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: rgb(77, 75, 83);
}


/* Hero Section CSS */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex;
    align-items: center; */
}

.hero-content {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
    gap: 20px;
}

.hero-content h1{
    font-size: 80px;
    font-weight: 80px;
}
.hero-content p{
    font-size: 20px;
    font-weight: lighter; 
}

.hero-content .filled-btn {
    font-size: 25px;
    width: 25%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;    
}

/* Meet the Speakers CSS */
.speakers-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.speakers-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 30px;
}
.speakers-card-container img {
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.speakers-card {
    text-align: left;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 15px;    
}
.speakers-card h6, .speakers-card h3, .speakers-card p {
    display: grid;
    padding: px;
    margin: 15px;
}

.speakers-card h6 {
    font-size: 12px;
    color: blue;
}
.speakers-card p {
    font-size: 15px;
    color: rgb(133, 133, 133);
}
.speakers-card h3 {
    font-size: 22px;
}